@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Noto Sans';
  font-size: 16px;
  color: #28366D;
  font-weight: 400;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
  height: 8px;


}
/* Track */
::-webkit-scrollbar-track {
  background: white;
  border: 1px solid #D9D9D9;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D9D9D9;
}

.content__min_h{
  min-height: calc(100vh - 425px);
}

.dropdown-menu {
  position: absolute;
  transform: translateY(30px);

}

.dropdown:hover .dropdown-menu {
  display: block;
  top: 100%;
  transform: translateY(0px);
}

.excel-button {
  opacity: 0;
}

.excel:hover {
  background: #C5C5C5;
  transition: .7s ease-out;

}

excel:hover .excel-button {
  opacity: 1;
  transition: .7s ease-out;
}

.bottom-sheet {
  position: fixed;
  bottom: -100%; /* Starts hidden off the screen */
  left: 0;
  width: 100%;
  height: 700px;
  background-color: #fff;
  transition: transform 0.7s ease-in-out;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.2);
}
.bottom-sheet.open {
  transform: translateY(-100%); /* Moves up to show content */
}


.customerFileBtn{
  width: 50%;
  margin:auto;
}

input[type='file']{
  background-color:transparent;
}

.customerFileBtn input[type='file'] {
  padding:6px 0 0 7px;
  &::-webkit-file-upload-button {
    display: none;
  }
  &::file-selector-button {
    display: none;
  }
}



