@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Noto Sans';
  font-size: 16px;
  color: #28366D;
  font-weight: 400;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ECECEC;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:#28366D;
}

.content__min_h{
  min-height: calc(100vh - 425px);
}
.dropdown:hover .dropdown-menu {
  display: block;
}
